<strong>Olá, {{ deliveryman }}</strong>
<p>Você possui uma nova encomenda para entrega.</p>
<p>
  <strong>Order:</strong> {{ order }} <br />
  <strong>Produto:</strong> {{ product }} <br />
  <strong>Recipient:</strong> {{ recipient }} <br />
  <br />


</p>
